
.x-btn-expand {
    display :none;
}

.list.x-collapsed .x-btn-expand {
    display: block;
}

.x-btn-collapse, .x-btn-expand {
    float:right;
}

.x-collapsed .x-btn-collapse {
    display: none;
}

.x-collapsed .list-header{
    transform-origin: 0 0;
    transform: translateY({{headerTranslate}}px) rotate(-90deg);
    width:{{headerWidth}};
}

.x-collapsed {
    max-width:{{listReducedWidth}}px;
    height:{{listWidth}};
}

.x-collapsed .list {
    max-width:{{listReducedWidth}}px;
    height:{{listWidth}};
}

.x-collapsed{
    resize: none;
    overflow:visible;
}


.add-list {
    flex-shrink: 1;
}


.list {
    overflow-x: hidden;
    flex: 0 0 auto;
    max-width: initial;
}


.list-cards {
    flex-wrap: wrap;
    display: flex;
}

.list-card {
    margin: 3px;
    width:{{listCardWidth}};
}

.open-card-composer {
    margin-right: 40px;
}

.x-collapsed *:not(.list-header-name):not(.list):not(.list-header):not(.x-btn-expand){
    display: none;
}


.x-btn-step-increment, .x-btn-step-decrement {
    position: absolute;
    bottom: 10px;
    text-decoration: none;
    opacity: 0.3;
}
.x-btn-step-increment:hover, .x-btn-step-decrement:hover {
    opacity: 1;
}

.x-btn-step-increment {
    right: 10px;
}

.x-btn-step-decrement {
    right: 25px;
    display: none;
}